@import "variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Code', Menlo, DejaVu Sans Mono, Monaco, Consolas, Ubuntu Mono, monospace;
  font-size: 1rem;
  line-height: 1.54;
  background-color: var(--background);
  color: var(--color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "liga";
  counter-reset: sidenote-counter;

  @media (max-width: $phone-max-width) {
    font-size: 0.8rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;

  &:not(first-child) {
    margin-top: 40px;
  }

  .zola-anchor {
    font-size: 1.5rem;
    visibility: hidden;
    margin-left: 0.5rem;
    vertical-align: 1%;
    text-decoration: none;
    border-bottom-color: transparent;
    cursor: pointer;

    @media(max-width: $phone-max-width) {
      visibility: visible;
    }
  }

  &:hover {
    .zola-anchor {
      visibility: visible;
    }
  }
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

h4,
h5,
h6 {
  font-size: 1.15rem;
}

h2.mini-title {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 15px;
}

img {
  display: block;
  max-width: 100%;

  &.left {
    margin-right: auto;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }
}

p {
  margin-bottom: 20px;
}

figure {
  display: table;
  max-width: 100%;
  margin: 25px 0;

  &.left {
    // img {
    margin-right: auto;
    // }
  }

  &.center {
    // img {
    margin-left: auto;
    margin-right: auto;
    // }
  }

  &.right {
    // img {
    margin-left: auto;
    // }
  }

  figcaption {
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 5px;
    background: var(--accent);
    color: var(--background);

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }
}

code {
  font-family: 'Fira Code', Menlo, DejaVu Sans Mono, Monaco, Consolas, Ubuntu Mono, monospace;
  font-feature-settings: normal;
  background: var(--accent-alpha-20);
  color: var(--accent);
  padding: 1px 6px;
  margin: 0 2px;
  font-size: .95rem;
}

pre {
  font-family: 'Fira Code', Menlo, DejaVu Sans Mono, Monaco, Consolas, Ubuntu Mono, monospace;
  font-feature-settings: "liga";
  padding: 20px 10px;
  font-size: .95rem;
  overflow: auto;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .1);

  +pre {
    border-top: 0;
    margin-top: -40px;
  }

  @media (max-width: $phone-max-width) {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  code {
    background: none !important;
    margin: 0;
    padding: 0;
    font-size: inherit;
    border: none;
  }
}

blockquote {
  border-top: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
  margin: 40px 0;
  padding: 25px;

  @media (max-width: $phone-max-width) {
    padding-right: 0;
  }

  &:before {
    content: 'â€';
    font-family: Georgia, serif;
    font-size: 3.875rem;
    position: absolute;
    left: -40px;
    top: -20px;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  p {
    position: relative;
  }

  p:before {
    content: '>';
    display: block;
    position: absolute;
    left: -25px;
    color: var(--accent);
  }
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin: 40px 0;
}

table,
th,
td {
  border: 1px dashed var(--accent);
  padding: 10px;
}

th {
  color: var(--accent);
}

ul,
ol {
  margin-left: 30px;
  padding: 0;

  li {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  @media (max-width: $phone-max-width) {
    margin-left: 20px;
  }

  ul,
  ol {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

ol ol {
  list-style-type: lower-alpha;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  max-width: 864px;
  min-height: 100vh;
  border-right: 1px solid rgba(255, 255, 255, 0.1);

  &.full,
  &.center {
    border: none;
    margin: 0 auto;
  }

  &.full {
    max-width: 100%;
  }

  @media (max-width: $phone-max-width) {
    padding: 20px;
  }
}

.content {
  display: flex;
}

hr {
  width: 100%;
  border: none;
  background: var(--border-color);
  height: 1px;
}

.hidden {
  display: none;
}

div.section {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1rem;
}

.right {
  text-align: right;
}

// Rachit's Footnotes Styling https://github.com/rachitnigam/rachitnigam.com
.sidenote::before {
  content: counter(sidenote-counter) " ";
  font-size: 75%;
  top: -0.5rem;
}

.sidenote,
.marginnote {
  float: right;
  clear: right;
  margin-right: -22rem;
  width: 300px;
  margin-top: 0.3rem;
  margin-bottom: 0;
  font-size: 0.9rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number::after {
  content: counter(sidenote-counter);
  display: inline-block;
  font-size: 80%;
  /* Remove space before and after footnote in markdown */
  margin-left: -0.5em;
  top: -0.5rem;
  left: 0.1rem;
}

.sidenote-number::after,
.sidenote::before {
  position: relative;
  vertical-align: baseline;
}

label.sidenote-number {
  display: inline;
}

input.margin-toggle {
  display: none;
}

label.margin-toggle:not(.sidenote-number) {
  display: inline;
}

@media (max-width: $phone_max_width) {
  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  .sidenote,
  .marginnote {
    display: none;
  }

  .margin-toggle:checked+.sidenote,
  .margin-toggle:checked+.marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    position: relative;
  }

  label {
    cursor: pointer;
  }
}

label.sidenote-number {
  display: inline;
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

// Link styling inspired by Rachit Nigam's website: https://rachitnigam.com
a {
  color: inherit;
  text-decoration: none;
  border-bottom: var(--footnote-color) 0.05em dotted;
}

a:hover,
a:focus {
  background: var(--accent-alpha-20);
  transition-property: background;
  transition-duration: 0.2s;
}

a.unstyled {
  border: none;
}

a.unstyled:hover,
a.unstyled:focus {
  background: none;
}

a.menu {
  border-bottom: var(--color) 0.05em solid;
}

a.menu:hover,
a.menu:focus {
  transition-property: border-bottom;
  border-bottom: 2px solid var(--color);
  transition-duration: 0.2s;
  background: none;
}